.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
h1{
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
p{
    line-height: 2;
}
hr{
  border-style: dotted;
  border-width: 0 0 6px 0;
  width: 4%;
  border-color: grey;
  margin: 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;

}
.profile-img{
  width: 30%;
}
.skill-img1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-img2{
  width: 25%;
  float: right;
  margin-right: 30px;
}
/* .desc1{
  clear: left;
}
.desc2{
  clear: right;
} */
.contact-desc{
  margin: 40px auto;
  width: 40%
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 40px;
  margin-top: 20px;
}
.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  padding-top: 20px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.footer-link:hover{
  color: #EAF6F6;
}
